<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, This is Uday Gohil</h1>
        <p><bold>You have reached my website.</bold></p>
      </header>
      <p>This website is mainly for compiling my academic work. I also run a blog named Somewhere Not Here.
Use the navigation bar to see more.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
